<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <h1>Edit cartoon</h1>
   <form action="/cartoon/<%= cartoon._id %>?_method=put" method="post">
    <input type="text" name="name" placeholder="name of cartoon" value="<%= cartoon.name %>">
    <input type="number" name="yearCreated" placeholder="year created" value="<%= cartoon.yearCreated %>">
    <input type="submit" value="Create Cartoon" >
   </form>
</body>

</html>