<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/cartoon/new"><button>Create new cartoon</button></a>
    <h1>List of Cartoons</h1>
    <ul>
        <% cartoons.forEach((cartoon, index) => { %>
            <li>
                <a href="/cartoon/<%= cartoon._id %>">
                    <h2>
                        <%= cartoon.name %>
                    </h2>
                </a>
            </li>
            <% }) %>
    </ul>
</body>

</html>