<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <h1>Create a new cartoon</h1>
   <form action="/cartoon" method="post">
    <input type="text" name="name" placeholder="name of cartoon">
    <input type="number" name="yearCreated" placeholder="year created">
    <input type="submit" value="Create Cartoon" >
   </form>
</body>

</html>